body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}
::-webkit-scrollbar {
  display: none;
}
/* LOGIN */
.login-body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  text-align: center;
}

.login-box input,
.login-box button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

#adminLoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box button {
  text-align: center;
  background-color: #e6b800;
}

/* NAVBAR */
.admin-navbar {
  background: #111;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}

.admin-navbar div {
  background-color: #e6b800;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.admin-navbar button {
  padding: 10px 40px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #e6b800;
  transition: all linear 0.3s;
}

.admin-navbar button:hover {
  background-color: #f4f4f4;
  color: #e6b800;
  border: 2px solid #e6b800;
}

/* LAYOUT */
.admin-container {
  display: flex;
   overflow: hidden;
}

.sidebar {
  width: 200px;
  background: #222;
  height: calc(100vh - 60px);
   overflow: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0;
   overflow: hidden;
}

.sidebar i {
  padding: 10px;
   overflow: hidden;
}

.sidebar li {
  color: white;
  padding: 15px;
  cursor: pointer;
   overflow: hidden;
}

.sidebar li:hover {
  background: #444;
  color: #e6b800;
  transition: all linear 0.3s;
   overflow: hidden;
}

.content {
  padding: 20px;
  flex: 1;
  background-image: url('https://images.unsplash.com/vector-1761644535160-cbcf13123f2a?q=80&w=1129&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: c;
   overflow: hidden;
  /* width: calc(100vh-60px); */
}



table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  padding: 20px;
  background: #e6b800;
  color: white;
  border: 1px solid black;
  text-align: center;

}


td {
  text-align: center;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 10px;

}

